<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
           
	<bean id="emp" class="com.cf.springDemo2.Emp">
		
		<property name="m"> 
			<map>
				<entry key="1" value-ref="employee"></entry>
				<entry key="2" value-ref="employee1"></entry>
				<entry key="3" value-ref="employee2"></entry>
				
			</map>
		</property>
	</bean>
	
	<bean id="employee" class="com.cf.springDemo2.Emp1">
	<property name="name" value="illa"> </property>
	<property name="location" value="oddisa" > </property>
	</bean>
	<bean id="employee1" class="com.cf.springDemo2.Emp1">
	<property name="name" value="deva"> </property>
	<property name="location" value="oddisa" > </property>
	</bean>
	<bean id="employee2" class="com.cf.springDemo2.Emp1">
	<property name="name" value="datta"> </property>
	<property name="location" value="oddisa" > </property>
	</bean>
</beans>